 @charset "utf-8";
/* CSS Document */
html, body 
{
 margin: 0;
 padding: 0;
}

body {
  font-family: Arial, Helvetica, Verdana, Sans-serif;
  font-size: 12px;color: #d0d2d3;
  background: #171F26;
}

#main_container{ width: 100%; margin: auto; }	
#main_nav{ width:100%; background:#171F26; height:700px;}
#main_content{ width: 100%;  background:#ffffff;margin: auto;height:900px; }	
 
#footer { clear: both;background: #171F26;height: 200px;}
#footer .h2{ color: #ffffff}
